

<div class="container">
    <div class="col_productos">
        <div class="card">
            <h3>Television 20'</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed odio magnam, animi iure optio quod, dicta omnis pariatur, repudiandae tempora accusamus. Quasi illo rerum ea! Consectetur perferendis incidunt fuga id.</p>
            <a (click)="onClick('1')">Ver Producto</a>
        </div>

        <div class="card">
            <h3>Celular Xiaomi</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed odio magnam, animi iure optio quod, dicta omnis pariatur, repudiandae tempora accusamus. Quasi illo rerum ea! Consectetur perferendis incidunt fuga id.</p>
            <a (click)="onClick('2')">Ver Producto</a>
        </div>
    </div>
</div>